.button {
  padding: 10px 20px;
  background: #6e41e2;
  border-radius: 4px;
  color: white;
}

.button:hover {
  background: #5835B0;
}

.button:active {
  background: #472C8A;
}

.button:focus {
  border: 2px solid rgba(17, 17, 17, 0.48);
}
